.color {
  color: #FF0000;
}
.white {
  color: #ffffff;
}
.silver {
  color: #f8f8f8;
}
.grey {
  color: #cccccc;
}
.dark {
  color: #292929;
}
.black {
  color: #000000;
}
.orange {
  color: #FF8C00;
}
.color-bg {
  background-color: #FF0000;
}
.white-bg {
  background-color: #ffffff;
}
.silver-bg {
  background-color: #f8f8f8;
}
.grey-bg {
  background-color: #cccccc;
}
.dark-bg {
  background-color: #292929;
}
.black-bg {
  background-color: #000000;
}
a {
  color: #FF0000;
}
a:hover {
  color: #888;
}
::selection {
  background: #cb450f;
  color: #000000;
}
::-moz-selection {
  background: #cb450f;
  color: #000000;
}
.btn-remark-white {
  background-color: #ffffff;
  color: #000000;
}
.btn-remark-white:hover {
  background-color: #888 !important;
  color: #ffffff !important;
}
.btn-remark-dark {
  background-color: #000000 !important;
  color: #ffffff !important;
}
.btn-remark-dark:hover {
  background-color: #888 !important;
  color: #000000 !important;
}
.btn-remark-color {
  background-color: #FF0000 !important;
  color: #ffffff !important;
}
.btn-remark-color:hover {
  background-color: #ffffff !important;
  color: #000000 !important;
}
section.mastwrap {
  border-color: #ffffff !important;
}
.header-highlighted {
  background: #ffffff;
}
.featured-work-caption > span:before {
  background-color: #FF0000;
}
.works-item a {
  background-color: #000000;
}
.works-item-inner h3 > span {
  border-color: #cb450f;
}
.menu-bg {
  background-color: #000000;
}
.menu-panel ul li a {
  color: #ffffff;
}
.menu-panel ul li a:hover {
  color: #cb450f;
}
.works-filter li a,
.works-filter li:after {
  color: #292929;
}
.filter-notification a {
  color: #292929;
}
.agency-tile h6:after {
  background-color: #cb450f;
}
.team-social a:hover span {
  color: #cb450f;
}
.filter-notification {
  background-color: #ffffff;
}
input,
textarea {
  border-color: #ffffff !important;
  color: #ffffff !important;
}
input:focus,
textarea:focus {
  border-color: #cb450f !important;
  color: #cb450f !important;
}
.sub-menu {
  border-color: #cb450f;
}
