.color {
  color: #FF0000;
}
.white {
  color: #FFFFFF;
}
.silver {
  color: #F8F8F8;
}
.grey {
  color: #CCCCCC;
}
.dark {
  color: #292929;
}
.black {
  color: #000000;
}
.orange {
  color: #FF8C00;
}
.red {
  color: #FF0000;
}
.wheat {
  color: #e8e8e8;
}
.dialuppink {
  color: #ffadc6;
}
.dialupblue {
  color: #10c0ff;
}
.yellow {
  color: #fff888;
}
.dimgrey {
  color: #696969;
}
.textgrey {
  color: #333333;
}
.green {
  color: #008000;
}
.newyellow {
  color: #ffdc00;
}
.tsulagrey {
  color: #CAC1BF;
}
.blinkblue {
  color: #5a5bd3;
}
.scangrey {
  color: #5f7171;
}
.cloud {
  color: #ECE9E6;
}

/* BACKGROUND COLORS */
.color-bg {
  background-color: #FF0000;
}
.white-bg {
  background-color: #ffffff;
}
.silver-bg {
  background-color: #F8F8F8;
}
.grey-bg {
  background-color: #CCCCCC;
}
.dark-bg {
  background-color: #292929;
}
.black-bg {
  background-color: #000000;
}
.wheat-bg {
  background-color: white;
}
.newyellow-bg {
  background-color: #ffdc00;
}
.textgrey-bg {
  background-color: #333333;
}
.red-bg {
  background-color: #FF0000;
}
.green-bg {
  background-color: green;
}
.orange-bg {
  background-color: #FF8C00;
}

/* TEXT COLORS */
html {
  color: #FF0000;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}
a {
  color: #FF0000;
}
a:hover {
  color: black;
}
header a {
  color: #FF0000;
}
header a:hover {
  color: #000000;
}


/* SELECTION COLORS */
::selection {
  background: #FF0000;
  color: #000000;
}
::-moz-selection {
  background: #FF0000;
  color: #000000;
}


/* BUTTON COLORS */
.btn-remark-white {
  background-color: #FFFFFF;
  color: #FF8C00;
}
.btn-remark-white:hover {
  background-color: #FF0000 !important;
  color: #FFFFFF !important;
}
.btn-remark-dark {
  background-color: #000000 !important;
  color: #FFFFFF !important;
}
.btn-remark-dark:hover {
  background-color: #FF0000 !important;
  color: #000000 !important;
}
.btn-remark-color {
  background-color: #FF0000 !important;
  color: #FFFFFF !important;
}
.btn-remark-color:hover {
  background-color: #fff888 !important;
  color: #000000 !important;
}


/* HEADER/WRAPPER COLORS */
section.mastwrap {
  border-color: #FFFFFF;
}
.header-highlighted {
  background: #FFFFFF;
}
header.masthead {
  color: black;
}


/* WORKS ITEM COLORS */
.featured-work-caption > span:before {
  background-color: #FF0000;
}
.works-item:hover {
  background-color: #FF0000;

}
.works-item a {
  background-color: #FF0000;
}
.works-item-inner h3 > span {
  border-color: #FF0000;
}
.projectpage .works-container .works-item:hover{
  background-color: rgba(255, 255, 255, 0.7)
}
.projectpage .works-container .works-item a{
  background-color: rgba(255, 255, 255, 0.7)
}



/* NAVIGATION COLORS */
.menu-bg {
  background-color: #000000;
}
.menu-panel ul li a {
  color: #FFFFFF;
}
.menu-panel ul li a:hover {
  color: #FF0000;
}


/* FILTER/FOOTER COLORS */
.works-filter li a, .works-filter li:after {
  color: #292929;
}
.filter-notification a {
  color: #292929;
}
.agency-tile h6:after {
  background-color: #FF0000;
}
.team-social a:hover span {
  color: #FF0000;
}
.filter-notification {
  background-color: #FFFFFF;
}
.foot-social li a > img:hover {
  color: #FF8C00;
}




/* TSULA COLORS ON HOMEPAGE */
.homepage .menu--tsula .menu__item-name {
  color: red;
}

.homepage .menu--tsula .menu__item:hover .menu__item-name,
.menu--tsula .menu__item:focus .menu__item-name {
  color: #FFFFFF;
  background: #FF0000;
}

.homepage .menu--tsula .menu__item:hover .menu__item-label,
.menu--tsula .menu__item:focus .menu__item-label {
  color: red;
}

.homepage .menu--tsula .menu__item-label {
  color: #5f7171;
}




/* TSULA COLORS ON ABOUT PAGE */
menu--tsula .menu__item-name {
  color: #333333;
}

.menu--tsula .menu__item:hover .menu__item-name,
.menu--tsula .menu__item:focus .menu__item-name {
  color: #333333;
  background: #ffdc00;
}

.menu--tsula .menu__item:hover .menu__item-label,
.menu--tsula .menu__item:focus .menu__item-label {
  color: #008000;
}

.menu--tsula .menu__item-label {
  color: red;
}



/* OTHER COLORS */
input,
textarea {
  border-color: #FFFFFF;
  color: #FFFFFF !important;
}
input:focus,
textarea:focus {
  border-color: #FF0000 !important;
  color: #FF0000 !important;
}
.sub-menu {
  border-color: #FF0000;
}



/* BORDER STYLES */
/*.blackborder{
  border: 1.5px dashed black;
}
.orangeborder {
  border: 1.5px dashed #FF8C00;
}
.redborder {
  border: 1.5px dashed red;
}
.newyellowborder {
  border: 1.5px dashed #ffdc00;
}
.greenborder {
  border: 1.5px dashed green;
}
.blinkblueborder {
  border: 1.5px dashed #5a5bd3;
}
.greyborder {
  border: 1.5px dashed #333333;
}*/
.newborder {
  border-left: 40px solid @red;
  border-right: 40px solid @red;
}
.newborderorange {
  border-left: 40px solid #FF8C00;
  border-right: 40px solid #FF8C00;
}
.newborderyellow {
  border-left: 40px solid #ffdc00;
  border-right: 40px solid #ffdc00;
}
.newborderblack {
  border-left: 40px solid @black;
  border-right: 40px solid @black;
}
.newbordergreen {
  border-left: 40px solid @green;
  border-right: 40px solid @green;
}
.newborderblue {
  border-left: 40px solid #5a5bd3;
  border-right: 40px solid #5a5bd3;
}

/* NAME ANIMATION */
.nameanimation {
    color: red;
    -webkit-animation-name: nameanimation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: nameanimation;
    animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes nameanimation {
    0%   {color: red;}
    20%  {color: #FF8C00;}
    40%  {color: #ffdc00;}
    60% {color: green;}
    80% {color: #5a5bd3;}
    100% {color: black;}
}

/* Standard syntax */
@keyframes nameanimation {
    0%   {color: red;}
    20%  {color: #FF8C00;}
    40%  {color: #ffdc00;}
    60% {color: green;}
    80% {color: #5a5bd3;}
    100% {color: black;}
}


/* CLOUDS GRADIENT */
.cloudgrd {
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


