
/* COLORS */
@white: #FFFFFF;
@cloud:#FFFDFC;
@wheat: #ceba9f;
@brown: #402615;
@black: #24140b;
@grey: #cccccc;


@red: #b54936;
@purple: #9966FF;
@yellow: #FFFD89;

@cobalt: #0e34c3;
@softblue: #a2b3d6;
@denim: #464c64;

@algae: #959342;
@dustygreen: #78917c;
@army: #3b5007;
@lightgreen: #7ea37b;

@dialuppink: #ffadc6;
@dialupblue: #10c0ff;

/* GRADIENTS */

/* v2 COLORS
@dialuppink: #ffadc6;
@dialupblue: #10c0ff;
@white: #FFFFFF;
@black: #1b1a1a;
@dark: #24140b;
@dimgrey: #24140b;
@textgrey: #24140b;
@grey: #ceba9f;
@scangrey: #ceba9f;
@wheat: #ceba9f;
@silver: #e6dfd7;
@cloud: #e6dfd7;
@tsulagrey: #e6dfd7;
@orange: #ce9b7d;
@red: #a65a4d;
@yellow: #bbb839;
@green: #78917c;
@newyellow: #bbb839;
@blinkblue: #0e34c3;
@brown: #402615;
*/

/* ORIGINAL COLORS 
@white: #FFFFFF;
@silver: #F8F8F8;
@grey: #CCCCCC;
@dark: #292929;
@black: #1b1a1a;
@orange: #FF8C00;
@red: #FF0000;
@dialuppink: #ffadc6;
@dialupblue: #10c0ff;
@yellow: #fff888;
@dimgrey: #696969;
@textgrey: #1b1a1a;
@wheat: #e8e8e8;
@green: #008000;
@newyellow: #ffdc00;
@tsulagrey: #CAC1BF;
@blinkblue: #5a5bd3;
@scangrey: #5f7171;
@cloud: #ECE9E6;
@brown: #1b1a1a; */


/* COLOR CLASSES */
.white {color: #FFFFFF;}
.cloud{color: #FFFDFC;}
.wheat {color: #ceba9f;}
.brown {color: #402615;}
.black {color: #24140b;}
.grey {color: #cccccc;}
.red {color: #b54936;}
.purple {color: #9966FF;}
.yellow {color: #FFFD89;}
.cobalt {color: #0e34c3;}
.softblue {color: #a2b3d6;}
.denim {color: #464c64;}
.algae {color: #959342;}
.dustygreen {color: #78917c;}
.army {color: #3b5007;}
.lightgreen {color: #7ea37b;}
.dialuppink {color: #ffadc6;}
.dialupblue {color: #10c0ff;}

/* BACKGROUND COLORS */
body {
	background-color: @cloud;
}

/* CLOUDS GRADIENT */
.wheatgrd {
	background: @cloud;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, @cloud, @wheat);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, @cloud, @wheat); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	z-index: 0;
}

.greengrd {
	background: @cloud;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, @cloud, @lightgreen);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, @cloud, @lightgreen); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	z-index: 0;
}

.bluegrd {
	background: @cloud;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, @cloud, @softblue);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, @cloud, @softblue); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	z-index: 0;
}

.greygrd {
	background: @cloud;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, @cloud, @grey);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, @cloud, @grey); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	z-index: 0;
	width: 100vw;
	height: 100vh;
}

/* BORDER STYLES */
.newborder {
  border-left: 1px solid @brown;
  border-right: 1px solid @brown;
  min-height: 100vh;
}

.imgborder {
	border: 1px solid @brown;
}
.imgshadow {
	box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.6);
}
.homeimgborder {
	border: 1px solid @brown;
}

footer.mastfoot.footerborder{
	border-top: 1px solid @brown;
}

header.masthead.headerborder{ 
	border-bottom: 1px solid @brown;
}


/* HEADER/WRAPPER COLORS */
/*section.mastwrap{
	border-color: @white;
}
.header-highlighted{
  background: @white;
}
header.masthead{
	color: @black;
}

footer.mastfoot.white-bg {
	background-color: white;
}*/

header.masthead.hint-bg {
	background-color: rgba(255,253,252,0.8);
}


/* TEXT COLORS */

p,h1,h2,h3,h4,h5,h6 {
	color: @brown;
}

a{
	color: @cobalt;
	cursor: url("../images/view.png") 40 40, crosshair;
}

a:hover{
	color: @brown;
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-color: @brown;
}

header a.active {
	color: @brown;
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-color: @brown;
}

header a {
	color: @brown;
}

header a:hover {
	color: @brown;
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-color: @brown;
}

header a.active:hover {
}

.backtowork a:hover{
	color: @brown;
}

.seealso a:hover {
	text-decoration: none;
	color: @brown;
}


/* SELECTION COLORS */
::selection {
  background: @army;
  color: @cloud;
}
::-moz-selection {
  background: @army;
  color: @cloud;
}






/* WORKS ITEM COLORS */
.featured-work-caption > span:before{
	/* background-color: @yellow; */
}
.works-item:hover {
	/* background-color: @white; */

}
 .works-item-inner h3 > span{ 
	/* border-color: @yellow; */
}
.projectpage .ContentWrapperB .ContentB{
	/* background-color: rgba(255, 255, 255, 0.3); */
}
.projectpage .ContentWrapperB .ContentB{
	/* background-color: rgba(255, 255, 255, 0.3); */
}

.works-item a:hover {
	color: @brown;
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-color: @brown;
}





/* TSULA COLORS*/
.menu--tsula .menu__item .menu__item-name::before {
	background: @lightgreen;
}

/* TSULA COLORS ON HOMEPAGE */
.newhomepage .menu--tsula .menu__item-name {
	color: @brown;
	/*text-shadow: 1px 1px 10px;*/
}
.newhomepage .menu--tsula .menu__item-label {
	color: @brown;
	/*text-shadow: 1px 1px 10px;*/
}

.newhomepage .menu--tsula .menu__item:hover .menu__item-name,
.menu--tsula .menu__item:focus .menu__item-name {
	color: @brown;
}
.newhomepage .menu--tsula .menu__item:hover .menu__item-label,
.menu--tsula .menu__item:focus .menu__item-label {
	color: @cloud;
	background: @army;
}

/*body#homebody #trigger:hover  {
	background: @cloud;  /* fallback for old browsers 
	background: -webkit-linear-gradient(to bottom, @cloud, @softblue);  /* Chrome 10-25, Safari 5.1-6 
	background: linear-gradient(to bottom, @cloud, @softblue); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
	z-index: 0;
} */


/* TSULA COLORS ON ABOUT, WORK PAGE */
.about .menu--tsula .menu__item-name {
	color: @brown;
	text-decoration: none;
}
.about .menu--tsula .menu__item:hover .menu__item-name,
.about .menu--tsula .menu__item:focus .menu__item-name {
	color: @cloud;
	background: @army;
	text-decoration: none;
}
.about .menu--tsula .menu__item:hover .menu__item-label,
.about .menu--tsula .menu__item:focus .menu__item-label {
	color: @brown;
}
.about .menu--tsula .menu__item-label {
	color: @cloud;
}



/* OTHER COLORS */
/* input, textarea {
	border-color: @white;
	color: @white !important;
}
input:focus, textarea:focus {
	border-color: @red !important;
	color: @red !important;
}
.sub-menu{
	border-color: @red;
} */

/* FILTER/FOOTER COLORS */
/* .works-filter li a, .works-filter li:after{
	color: @dark;
}

.works-filter li a:hover{
	text-decoration-line: underline;
	text-decoration-style: wavy;
}

.works-filter li a.active{
	text-decoration-line: underline;
	text-decoration-style: wavy;
}

.filter-notification a{
	color: @dark;
}
.agency-tile h6:after{
	background-color: @red;
}
.team-social a:hover span{
	color: @red;
}
.filter-notification{
	background-color: @white;
}
.foot-social li a > img:hover {
	color: @orange;
} */

/* NAVIGATION COLORS */
/* .menu-bg{
	background-color: @black;
}
.menu-panel ul li a{
	color: @white;
}
.menu-panel ul li a:hover{
	color: @red;
} */

/* BUTTON COLORS */
/* .btn-remark-white {
	background-color: @white;
	color: @orange;
}
.btn-remark-white:hover {
	background-color: @red !important;
	color: @white !important;
}
.btn-remark-dark {
	background-color: @black !important;
	color: @white !important;
}
.btn-remark-dark:hover {
	background-color: @red !important;
	color :@black !important;
}
.btn-remark-color {
	background-color: @red !important;
	color: @white !important;
}
.btn-remark-color:hover {
	background-color: @yellow !important;
	color: @black !important;
} */