/* COLORS */
@color: #FF0000;
@white: #FFFFFF;
@silver: #F8F8F8;
@grey: #CCCCCC;
@dark: #292929;
@black: #000000;
@orange: #FF8C00;
@red: #FF0000;
@dialuppink: #ffadc6;
@dialupblue: #10c0ff;
@yellow: #fff888;
@dimgrey: #696969;
@textgrey: #333333;
@wheat: #F5DEB3;
@green: #008000;


/* COLOR CLASSES */
.color{
	color: @color;
}
.white{
	color: @white;
}
.silver{
	color: @silver;
}
.grey{
	color: @grey ;
}
.dark{
	color: @dark;
}
.black{
	color: @black;
}
.orange{
	color: @orange;
}
.red {
	color: @red;
}
.wheat {
	color: @wheat;
}
.dialuppink {
	color: @dialuppink;
}
	.dialuppink a:hover {
		color: @dialupblue;
	}

.dialupblue {
	color: @dialupblue;
}
	.dialupblue a:hover {
		color: @dialuppink;
	}	

.yellow {
	color: @yellow;
}
.dimgrey {
	color: @dimgrey;
}
.textgrey {
	color: @textgrey;
}
.green {
	color: @green;
}


/* BACKGROUND COLORS */
.color-bg{
	background-color: @color;
}
.white-bg{
	background-color: @white;
}
.silver-bg{
	background-color: @silver;
}
.grey-bg{
	background-color: @grey;
}
.dark-bg{
	background-color: @dark;
}
.black-bg{
	background-color: @black;
}
.wheat-bg {
	background-color: @wheat;
}




/* TEXT COLORS */
html {
	color: @color;
}

p,h1,h2,h3,h4,h5,h6 {
	color: @textgrey;
}

a{
	color: @color;
}
a:hover{
	color: @yellow;
}

header a {
	color: @black;
}

header a:hover {
	color: @orange;
}


/* SELECTION COLORS */
::selection {
  background: @color;
  color: @black;
}
::-moz-selection {
  background: @color;
  color: @black;
}




/* BUTTON COLORS */
.btn-remark-white {
	background-color: @white;
	color: @orange;
}
.btn-remark-white:hover {
	background-color: @color !important;
	color: @white !important;
}
.btn-remark-dark {
	background-color: @black !important;
	color: @white !important;
}
.btn-remark-dark:hover {
	background-color: @color !important;
	color :@black !important;
}
.btn-remark-color {
	background-color: @color !important;
	color: @white !important;
}
.btn-remark-color:hover {
	background-color: @yellow !important;
	color: @black !important;
}



/* HEADER/WRAPPER COLORS */
section.mastwrap{
	border-color: @white;
}
.header-highlighted{
  background: @white;
}
header.masthead{
	color: @white;
}



/* WORKS ITEM COLORS */
.featured-work-caption > span:before{
	background-color: @color;
}
.works-item a{
	background-color: @color;
}
 .works-item-inner h3 > span{ 
	border-color: @color;
}



/* NAVIGATION COLORS */
.menu-bg{
	background-color: @black;
}
.menu-panel ul li a{
	color: @white;
}
.menu-panel ul li a:hover{
	color: @color;
}




/* FILTER/FOOTER COLORS */
.works-filter li a, .works-filter li:after{
	color: @dark;
}
.filter-notification a{
	color: @dark;
}
.agency-tile h6:after{
	background-color: @color;
}
.team-social a:hover span{
	color: @color;
}
.filter-notification{
	background-color: @white;
}
.foot-social li a > img:hover {
	color: @orange;
}


/* OTHER COLORS */
input, textarea {
	border-color: @white;
	color: @white !important;
}
input:focus, textarea:focus {
	border-color: @color !important;
	color: @color !important;
}
.sub-menu{
	border-color: @color;
}