.color {
  color: #FF0000;
}
.white {
  color: #FFFFFF;
}
.silver {
  color: #F8F8F8;
}
.grey {
  color: #CCCCCC;
}
.dark {
  color: #292929;
}
.black {
  color: #000000;
}
.orange {
  color: #FF8C00;
}
.red {
  color: #FF0000;
}
.wheat {
  color: #F5DEB3;
}
.dialuppink {
  color: #ffadc6;
}
.dialupblue {
  color: #10c0ff;
}
.yellow {
  color: #888;
}
.dimgrey {
  color: #696969;
}
.textgrey {
  color: #333;
}



.color-bg {
  background-color: #FF0000;
}
.white-bg {
  background-color: #FFFFFF;
}
.silver-bg {
  background-color: #F8F8F8;
}
.grey-bg {
  background-color: #CCCCCC;
}
.dark-bg {
  background-color: #292929;
}
.black-bg {
  background-color: #000000;
}
.wheat-bg {
  background-color: #F5DEB3;
}




html {
  color: #FF0000;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}
a {
  color: #FF0000;
}
a:hover {
  color: #888;
}
header a {
  color: #000000;
}
header a:hover {
  color: #888;
}



::selection {
  background: #FF0000;
  color: #000000;
}
::-moz-selection {
  background: #FF0000;
  color: #000000;
}




.btn-remark-white {
  background-color: #FFFFFF;
  color: #000000;
}
.btn-remark-white:hover {
  background-color: #FF0000 !important;
  color: #FFFFFF !important;
}
.btn-remark-dark {
  background-color: #000000 !important;
  color: #FFFFFF !important;
}
.btn-remark-dark:hover {
  background-color: #FF0000 !important;
  color: #000000 !important;
}
.btn-remark-color {
  background-color: #FF0000 !important;
  color: #FFFFFF !important;
}
.btn-remark-color:hover {
  background-color: #696969 !important;
  color: #000000 !important;
}



section.mastwrap {
  border-color: #FFFFFF;
}
.header-highlighted {
  background: #FFFFFF;
}
header.masthead {
  color: #FFFFFF;
}





.featured-work-caption > span:before {
  background-color: #FF0000;
}
.works-item a {
  background-color: #FF0000;
}
.works-item-inner h3 > span {
  border-color: #FF0000;
}



.menu-bg {
  background-color: #000000;
}
.menu-panel ul li a {
  color: #FFFFFF;
}
.menu-panel ul li a:hover {
  color: #FF0000;
}




.works-filter li a,
.works-filter li:after {
  color: #292929;
}
.filter-notification a {
  color: #292929;
}
.agency-tile h6:after {
  background-color: #FF0000;
}
.team-social a:hover span {
  color: #FF0000;
}
.filter-notification {
  background-color: #FFFFFF;
}



input,
textarea {
  border-color: #FFFFFF;
  color: #FFFFFF !important;
}
input:focus,
textarea:focus {
  border-color: #FF0000 !important;
  color: #FF0000 !important;
}
.sub-menu {
  border-color: #FF0000;
}