
@font1:'Fraunces', serif;
@font2:'Fraunces', serif;



.font1{
	font-family: @font1;
	font-weight: 100;
}

.font2{
	font-family: @font2;
	font-weight: 100;

}

.font1semibold {
	font-family: @font1;
	font-weight: 100;
}

.font1bold {
	font-family: @font1;
	font-weight: 100;
}

.font2semibold{
	font-family: @font2;
	font-weight: 100;
}

.font2bold{
	font-family: @font2;
	font-weight: 100;
}

p{
	font-family: @font2;
	font-weight: 100;
}

.menu-panel ul li a{
	font-family: @font2;
}

.btn-remark {
	font-family: @font2;
}

.agency-home-caption{
	font-family: @font2 !important;
}

nav a, header a {
	font-family: @font1;
}

.sentence {
	text-transform: none;
}

.underline {
	text-decoration: underline;
}
