
@font1:'VVSNobleman-Display', serif;
@font2: 'prestige-elite-std', monospace;



.font1{
	font-family: @font1;
	font-weight: 400;
}

.font2{
	font-family: @font2;
	font-weight: 800;
	font-style: normal;
}

.font1semibold {
	font-family: @font1;
}

.font1bold {
	font-family: @font1;
}

.font2semibold{
	font-family: @font2;
	font-weight: 700;
}

.font2bold{
	font-family: @font2;
	font-weight: 700;
}

.indexfont {
	font-family: @font1;
	text-transform: uppercase;
}

body, p{
	font-family: @font2;
}

nav a, header a {
	font-family: @font1;
	text-transform: uppercase;
}

.menu-panel ul li a{
	font-family: @font2;
}

.btn-remark {
	font-family: @font2;
}

.agency-home-caption{
	font-family: @font2 !important;
}

.sentence {
	text-transform: none;
}

.underline {
	text-decoration: underline;
}

.vbox-num {
	font-family: @font1;
}

.bigletters {
  font-size: 80px;
  text-transform: uppercase;
  font-family: @font1;
}

.babyletters {
	font-size: 40px;
	text-transform: uppercase;
	font-family: @font1;
}
