.font1 {
  font-family: 'Merriweather', serif;
}

.font2 {
  font-family: 'Inconsolata', monospace;
}

.font1semibold {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}
.font1bold {
  font-family: 'Merriweather', serif;
  font-weight: 900;
}

.font2semibold {
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
}
.font2bold {
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
}



body, p {
  font-family: 'Inconsolata', monospace;
}
.menu-panel ul li a {
  font-family: 'Inconsolata', monospace;
}
.btn-remark {
  font-family: 'Inconsolata', monospace;
}
.agency-home-caption {
  font-family: 'Inconsolata', monospace !important;
}
nav a, header a {
  font-family: ;
}