
@font1:'Consolas', monospace;
@font2:'Consolas', monaco, monospace;
@font2hairline:'Consolas', monaco, monospace;
@font2ultralight:'Consolas', monaco, monospace;
@font2light:'Consolas', monaco, monospace;
@font2semibold:'Consolas', monaco, monospace;
@font2bold:'Consolas', monaco, monospace;
@font2extrabold:'Consolas', monaco, monospace;
@font2black:'Consolas', monaco, monospace;
@font3:'Consolas', monaco, monospace;



.font1{
	font-family: @font1;
}

.font2{
	font-family: @font2;
}
.font2hairline{
	font-family: @font2hairline;
}
.font2ultralight{
	font-family: @font2ultralight;
}
.font2light{
	font-family: @font2light;
}
.font2semibold{
	font-family: @font2semibold;
	font-weight: 900;
}

.font2bold{
	font-family: @font2bold;
	font-weight: 900;
}
.font2extrabold{
	font-family: @font2extrabold;
	font-weight: 900;
	text-transform: uppercase;
}
.font2black{
	font-family: @font2black;
	font-weight: 900;
	text-transform: uppercase;
}

.font3{
	font-family: @font3;
}

body, p{
	font-family: @font1;
}

.menu-panel ul li a{
	font-family: @font2;
}
.sub-menu a{
	font-family: @font2light !important;
}

#main_nav a {
	font-family: @font2light;
}
.btn-remark {
	font-family: @font2;
}
.agency-home-caption{
	font-family: @font2 !important;
}