*,
*::after,
*::before {
	box-sizing: border-box;
}

/* Fade effect */
.js body {
	opacity: 0;
	transition: opacity 0.3s;
}

.js body.render {
	opacity: 1;
}


a:hover,
a:focus {
	outline: none;
}


/* Common styles for the menus */
.menu {
	position: relative;
	z-index: 10;
}

.menu__item {
	font-size: 20px;
	line-height: 1.75;
	position: relative;
	display: block;
	margin: 1em 0;
	outline: none;
}

.menu__item-name,
.menu__item-label {
	position: relative;
	display: inline-block;
}

.menu__item-label {
	margin: 0 0 0 0.5em;
}


@media screen and (max-width: 50em) {
	html,
	body {
		overflow-x: hidden;
		width: 100vw;
		height: 100%;
	}
	.content {
		height: auto;
		min-height: 0;
	/* padding-bottom: 10em; */
	}
}

/* Old purple color: #5a5bd3 */
/* Tsula Style */

/* .menu--tsula {
	font-family: 'Space Mono', monospace;
} */ 

/* .menu--tsula .menu__item {
	padding-left: 0.25em;
} */

.menu--tsula .menu__item-name {
	font-size: 1em;
	color: dimgray;
	text-transform: uppercase;
}

.menu--tsula .menu__item:hover .menu__item-name,
.menu--tsula .menu__item:focus .menu__item-name {
	color: white;
	background: red;
}

.menu--tsula .menu__item:hover .menu__item-label,
.menu--tsula .menu__item:focus .menu__item-label {
	color: green;
}

.menu--tsula .menu__item:hover .menu__item-name .timelineorange,
.menu--tsula .menu__item:focus .menu__item-name .timelineorange{
	color: white;
	background: darkorange;
}

/* Code for blinking blue square */
.menu--tsula .menu__item::before {
	content: '';
	position: absolute;
	top: 0;
	right: 100%;
	width: 0.9em;
	height: 1em;
	opacity: 0;
	background: rgba(90,91,211,0.3);
	animation: none; /* For Chrome */
}

/* Make default text color gray */
 .menu--tsula .menu__item-label {
	color: #CAC1BF;
} 

.menu--tsula .menu__item:hover::before,
.menu--tsula .menu__item:focus::before {
	animation: blinkblink 0.4s cubic-bezier(0.5,0,1,1) infinite alternate;
}


@keyframes blinkblink {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
